/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}



html,
body {
	background-color: white;
	overflow-x: hidden;
}

nav {
	padding-top: 90px;
	padding-left: 90px;
	padding-right: 90px;
	display: flex;
	justify-content: flex-end;

	img {
		height: 95px;
		width: auto;
	}

}


.project__list {
	position: relative;
	top: -80px;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
  			text-underline-position: under;
		}
	}

.project__item {
	display: flex;
	flex-direction: row;
	align-items: center;

	.project__visual {
		position: relative;
		width: 840px;
		height: 840px;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0px 1000px;
		left: -160px;
		box-shadow: -16px 4px 74px rgba(0, 0, 0, 0.09), 0px 4px 4px rgba(0, 0, 0, 0.09);
	}

	.project__title {
		flex: 1;
		margin-top: -100px;
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		line-height: 12px;
		font-size: 20px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		transform: translateX(-40px);
	}

	&:nth-child(even) {
		flex-direction: row-reverse;

		.project__title {
			text-align: right;
		}

		.project__visual {
			border-radius: 1000px 0px;
			right: -160px;
			left: initial;
		}
	}
}
}